
@media only screen and (max-width: 1200px) {
 
  .nav-container ul {
    gap: 20px;
  
}

.container{
    margin-bottom: 60px;
}

.hero-container .hero-img img {
    vertical-align: middle;
    height: 100%;
}

.hero-container .hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.headding-section h2 {
    font-size: 2.2rem;
}

.headding-section {
    margin-bottom: 60px;
}

.cards .card {
    padding: 40px;
    max-width: 300px;
    height: 360px;
}


.project-items .item .item-text p {
    margin-bottom: 10px;
}

.project-items .item .item-img img {
    width: 380px;
}
.project-items .item .item-text h3 {
    font-size: 30px;
    margin-bottom: 10px;
}



}

@media only screen and (max-width: 992px) {
    .nav-container ul li {
    padding: 8px 13px;
}

.nav-container ul {
    gap: 20px;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.hero-container .hero-img {
vertical-align: middle;  
display: flex;
align-items: end;

}
.hero-container .hero-img img {
    height: 90%;
    display: block;
}

.hero-container {
    gap: 10px;
    padding-right: 0px;
}

    .hero-container .hero-text h1 {
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

    .hero-container .hero-text p {
    font-size: .85rem;
    line-height: 22px;
}

.hero-container .hero-text button, .btn {
    padding: 12px 25px;
    margin-right: 15px;
    font-size: .8rem;
 
}

.headding-section h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #6A14DA;
    letter-spacing: 2px;
}
    .headding-section h2 {
        font-size: 1.8rem;
    }
.container{
    margin-bottom: 60px;
}

.cards .card {
    padding: 35px;
    max-width: 280px;
    height: 340px;
}

.cards {
    gap: 14px;
}

.experience-item {
    padding: 30px;
}

.footer-item{
    margin-bottom: 4px;
}


.footer-item p{
    font-size: .8rem;
}

}

@media only screen and (max-width: 768px){



.hero-container .hero-img img {
        height: 70%;
        ;
}
            
        
        .hero-container .hero-text h1 {
        font-size: 1.75rem;
        margin-bottom: 15px;
    }

    .hero-container {

        height: calc(100vh - 200px);
    }
    .cards {
        gap: 40px;
    }
    .hero-container .hero-text button, .btn {
        
        font-size: .8rem;
        margin-bottom: 8px;
    }

.project-items .item {
    flex-direction: column;
    padding: 25px;
    text-align: center;
}
    .experience-item {
        padding: 15px;
    }
.experience-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    row-gap: 30px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 40px;
}

.cards .card:hover, .experience-item:hover {
    transform: translateY(-15px);
    background-color: #fffefe;
}


}

@media only screen and (max-width: 576px){

       .nav-container ul li {
    padding: 6px 10px;
}
.nav-container ul li:hover{
   font-size: .7rem;
}

.nav-container ul {
    gap: 8px;
    font-size: .6rem;
    font-weight: 550;
    
}

    .hero-container {
    flex-direction: column;
    height: calc(100vh - 99.45px);
}
.hero-container .hero-text {
    margin-bottom: 10px;
}

    .hero-container .hero-img {
        width: 100%;
        vertical-align: middle;
        display: flex;
        align-items: start;
        justify-content: center;
        overflow: hidden;
    }

    .hero-container .hero-img img{
        height: 320px;
    }

}


@media only screen and (max-width: 480px){
    
ul li{
    display: none;
}

    .project-items .item .item-img img {
        width: 280px;
    }

    .project-items .item {
        padding: 15px;
    }

        .project-items .item .item-text p {
        margin-bottom: 6px;
        font-size: .7rem;
    }

        .project-items .item .item-text h3 {
        font-size: 23px;
        margin-bottom: 8px;
        }

            .footer-item {
        margin-bottom: 4px;
        flex-direction: column;
        align-items: center;
        row-gap: 4px;
        gap: 4px;
    }

    .menu{
    list-style: none;
    display: block;
    font-size: 1.5rem;
}

}


/* X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */
